CouchDB==0.10
Fabric==1.10.0
Flask==0.10.1
Flask-CouchDB==0.2.1
Jinja2==2.7.3
MarkupSafe==0.23
Werkzeug==0.9.6
ecdsa==0.11
fabtools==0.19.0
itsdangerous==0.24
paramiko==1.14.1
pycrypto==2.6.1
python-vagrant==0.5.0
wsgiref==0.1.2
